html, body {
	height: 100%;
	width: 100%;
}

h4, h5 {
	font-family: "Helvectica", Times, serif;
}

.nav-link {
	font-size: 1.1em;
}

.navbar-brand {
	font-family: Times, serif;
	font-size: 1.8em;
	font-weight: bold;
}

.wrapper {
	padding-bottom: 100px;
}

.sidebar {
	
}

.post {
	
}

.post-social a {
	color: grey;
}

.post-social a:hover {
	color: #A1A1A1;
	text-decoration: none;
}

.comment img {
	width: 15%;
	height: auto;
}

.recent h4, .popular h4, .categories h4 {
	
}

.register-form {
	display: block;
	max-width: 600px;
	margin: 0 auto;
}

.pagination-block {
	font-size: 1.5em;
}

.pagination-block__link {
	color: blue;
	border: 1px solid blue;
	border-radius: 4px;
	padding: 2px 4px;
	margin: 0 2px;
}

.pagination-block__active {
	border-radius: 4px;
	background-color: #C1C1C1;
}

footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

footer, footer a {
	color: white;
}

footer a:hover {
	color: #E1E1E1;
	text-decoration: none;
}